{include file="base/header" /}

<body>
    <div class="page-content">
        <!--模糊搜索区域-->
        <div class="layui-row">
            <form class="layui-form layui-col-md12 form-search">
                <input type="text" class="layui-input" placeholder="ID" id="id" name="id">
                <input type="text" class="layui-input" placeholder="角色名" id="name" name="name">
                <span class="layui-btn" lay-submit lay-filter="search">
                    <i class="layui-icon layui-icon-search"></i>
                </span>
                <span class="layui-btn layui-btn-normal btn-add power-item" id="add" power="adminUser:add">
                    <i class="layui-icon layui-icon-add-1"></i>
                </span>
            </form>
        </div>
        <!--数据表格-->
        <table class="layui-hide" id="tableId" lay-filter="tableId"></table>
    </div>
</body>
<!-- 行工具栏模板 -->
<script type="text/html" id="operationTpl">
	<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
</script>
<!-- 启用|停用模板 -->
<script type="text/html" id="statusTpl">
	<input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="statusSwitch" {{ d.status == 1 ? 'checked' : '' }}>
</script>
<script>
    layui.use(['kit', 'table', 'form'], function () {
        const kit = layui.kit
        const table = layui.table
        const form = layui.form

        let tableIns = table.render({
            elem: '#tableId',
            url: './list',
            limit: 10,
            page: true,
            cols: [[
                { field: 'id', title: 'ID', width: 80, sort: true },
                { field: 'name', title: '角色名'},
                { field: 'status', title: '状态', width: 100, templet: '#statusTpl' },
                { title: '操作', width: 120, align: 'center', fixed: 'right', templet: '#operationTpl' }
            ]],
            done: () => { initPower() },
        });

        document.getElementById('add').addEventListener('click', () => {
            kit.edit('新增', './edit', (iframe) => {
                tableIns.reload()
            })
        })

        form.on('submit(search)', function (data) {
            tableIns.reload({
                where: data.field,
                page: { curr: 1 }
            });
            return false
        });

        form.on('switch(statusSwitch)', (obj) => {
            kit.formSwitch('./changeStatus', { id: obj.value }, obj)
        })

        table.on('tool(tableId)', function (obj) {
            let data = obj.data
            switch (obj.event) {
                case 'edit':
                    kit.edit('编辑', './edit?id=' + data.id, (iframe) => {
                        tableIns.reload()
                    })
                    break;
                case 'del':
                    kit.confirm(`确认删除 ${data.id}-${data.name}？`, './delete', { id: data.id }, obj)
                    break;
            }
        });
    })
</script>
{include file="base/footer" /}