{include file="base/header" /}

<body>
	<div class="page-content">
		<!--模糊搜索区域-->
		<div class="layui-row">
			<form class="layui-form layui-col-md12 form-search">
				<input class="layui-input" placeholder="模糊查询" autocomplete="off" name="keywords">
				<span class="layui-btn" lay-submit lay-filter="search">
					<i class="layui-icon layui-icon-search"></i>
				</span>
				<span class="layui-btn layui-btn-normal btn-add power-item" id="add" power="power:add">
					<i class="layui-icon layui-icon-add-1"></i>
				</span>
			</form>
		</div>
		<!--数据表格-->
		<table class="layui-hide" id="tableId" lay-filter="tableId"></table>
	</div>
</body>
<!-- 行工具栏模板 -->
<script type="text/html" id="operationTpl">
	<a class="layui-btn layui-btn-xs power-item" lay-event="edit" power="power:edit">编辑</a>
	<a class="layui-btn layui-btn-xs power-item layui-btn-danger" lay-event="del" power="power:del">删除</a>
	{{# if(d.is_menu != 0) { }}
	<a class="layui-btn layui-btn-xs power-item layui-btn-normal" lay-event="addChild" power="power:addChild">新增</a>
	{{# } }}
</script>
<!-- 启用|停用模板 -->
<script type="text/html" id="isMenuTpl">
	<input type="checkbox" name="is_menu" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="isMenuSwitch" {{ d.is_menu == 1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="statusTpl">
	<input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="开启|关闭" lay-filter="statusSwitch" {{ d.status == 1 ? 'checked' : '' }}>
</script>
<script>
	layui.use(['kit', 'table', 'form', 'treeTable'], function () {
		const table = layui.table
		const form = layui.form
		const kit = layui.kit
		const treeTable = layui.treeTable

		let tableIns = treeTable.render({
			elem: '#tableId',
			url: './list',
			tree: {
				iconIndex: 1, // 折叠图标显示在第几列
				isPidData: true, // 是否是id、pid形式数据
				idName: 'id',
				pidName: 'pid',
				// childName: 'children',
				openName: 'id',
				arrowType: 'arrow2',   // 自定义箭头风格
				getIcon: function (d) {  // 自定义图标
					// d是当前行的数据
					if (d.icon) {
						return `<i class="layui-icon ${d.icon}"></i>`
					} else if (!d.is_menu) {
						return `<i class="layui-icon layui-icon-subtraction"></i>`
					} else {
						return `<i class="layui-icon ${window.config.defaultIcon}"></i>`;
					}
				}
			}, cols: [[
				// { type: 'numbers' },
				{ field: 'id', title: 'ID', width: 80 },
				{ field: 'name', title: '名称' },
				{ field: 'con', title: '控制器' },
				{ field: 'func', title: '方法' },
				{ field: 'sign', title: '页面标识' },
				{ field: 'is_menu', title: '菜单', width: 80, templet: '#isMenuTpl' },
				{ field: 'status', title: '状态', width: 100, templet: '#statusTpl' },
				{ title: '操作', width: 180, templet: '#operationTpl' },
			]],
			done: () => { initPower() },
		})

		form.on('submit(search)', (data) => {
			if (data.field.keywords) {
				tableIns.filterData(data.field.keywords)
			} else {
				tableIns.clearFilter()
			}
			return false
		});

		document.getElementById('add').addEventListener('click', () => {
			kit.edit('新增', './edit', (iframe) => {
				kit.reloadMenu()
				tableIns.reload()
			})
		})

		form.on('switch(isMenuSwitch)', (obj) => {
			kit.formSwitch('./changeIsMenu', { id: obj.value }, obj, () => {
				kit.reloadMenu()
			})
		})
		form.on('switch(statusSwitch)', (obj) => {
			kit.formSwitch('./changeStatus', { id: obj.value }, obj, () => {
				kit.reloadMenu()
			})
		})

		treeTable.on('tool(tableId)', function (obj) {
			let data = obj.data;
			switch (obj.event) {
				case 'edit':
					kit.edit('编辑', './edit?id=' + data.id, (iframe) => {
						kit.reloadMenu()
						tableIns.reload()
					})
					break;
				case 'del':
					kit.confirm(`确认删除 ${data.id} - ${data.name}？`, './delete', { id: data.id }, obj)
					break;
				case 'addChild':
					kit.edit('新增', './edit?pid=' + data.id, (iframe) => {
						kit.reloadMenu()
						tableIns.reload()
					})
			}
		});
	})
</script>
{include file="base/footer" /}