{include file="base/header" /}

<body>
    <div class="page-content">
        <form class="layui-form" id="form" lay-filter="form">
            <input type="hidden" name="id" id="dataId" readonly class="layui-input" value="">

            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input type="text" name="name" lay-verify="name" required disabled readonly class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">昵称</label>
                <div class="layui-input-block">
                    <input type="text" name="nick" lay-verify="nick" required class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">手机</label>
                <div class="layui-input-block">
                    <input type="tel" name="phone" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-block">
                    <input type="email" name="email" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-form-item">
                    <label class="layui-form-label">图片上传</label>
                    <div class="layui-input-inline">
                        <div class="layui-upload-list layui-icon" id="addZmImg">
                            &#xe64a;
                        </div>
                    </div>
                </div>
                <div class="">
                    <ul id="imgZmList"></ul>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block text-right">
                    <button class="layui-btn" lay-filter="submit" lay-submit>保存</button>
                    <button class="layui-btn layui-btn-primary" type="button">取消</button>
                </div>
            </div>
        </form>
    </div>
    <div id="cropperdiv"></div>
</body>
<script>
    layui.use(['kit', 'form', 'upload', 'uploadImg'], function () {
        const kit = layui.kit
        const form = layui.form
        const upload = layui.upload
        const uploadImg = layui.uploadImg

        kit.get('./info', {}, { msg: false }).done((res) => {
            form.val('form', res.data);
        })

        form.on('submit(submit)', function (data) {
            kit.post('./save', data.field).done(() => {
                kit.closeLayer(window.name)
            })
            return false;
        });
        form.verify({
            name: (value, item) => { //value：表单的值、item：表单的DOM对象
                if (!new RegExp("^[a-zA-Z0-9_\S]+$").test(value)) {
                    return '由英文字母下划线构成'
                }
                if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                    return '用户名首尾不能出现下划线\'_\''
                }
                if (/^\d+\d+\d$/.test(value)) {
                    return '用户名不能全为数字'
                }
                if (value.length > 20) {
                    return '用户名不能超过20个字符'
                }
            },
            nick: (value, item) => {
                if (value.length > 20) {
                    return '用户名不能超过20个字符'
                }
            }
        });


        upload.render({
            elem: '#addZmImg',
            url: '/user/upload.asp',
            multiple: true,
            before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#imgZmList').append(`<li style="position:relative">
                            <img name="imgZmList" src="${result}" width="150" height="113">
                            <div class="title_cover" name="imgZmName" onclick="editImageDescribe(this)"></div>
                            <div class="img_edit layui-icon" onclick="editImage(this)">&#xe642;</div>
                            <div class="img_close" onclick="deleteImage(this)">X</div>
                        </li>`);
                    form.render();
                    uploadImg.move("imgZmList");
                });
            }, done: function (res) {

            }
        });





    });

</script>
{include file="base/footer" /}