{include file="base/header" /}

<body>
    <div class="page-content">
        <form class="layui-form" id="form" lay-filter="form">
            <input type="hidden" name="id" id="dataId" readonly class="layui-input" value="">

            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input type="text" name="name" lay-verify="name" required disabled readonly class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">昵称</label>
                <div class="layui-input-block">
                    <input type="text" name="nick" lay-verify="nick" required class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">手机</label>
                <div class="layui-input-block">
                    <input type="tel" name="phone" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-block">
                    <input type="email" name="email" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">图片上传</label>
                <div class="layui-input-block" style="display: flex;">
                    <input type="hidden" class="input-image" name="avatar">
                    <ul class="image-item">

                    </ul>
                    <div class="layui-btn btn-upload-img">
                        上传单图
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">图片上传列表</label>
                <div class="layui-input-block">
                    <ul class="image-list">

                    </ul>
                    <div class="layui-btn btn-upload-img-list">
                        上传多图
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block text-right">
                    <button class="layui-btn" lay-filter="submit" lay-submit>保存</button>
                    <button class="layui-btn layui-btn-primary" type="button">取消</button>
                </div>
            </div>
        </form>
    </div>
    <div id="cropperdiv"></div>
</body>
<script>
    layui.use(['kit', 'form', 'upload', 'uploadImg'], function () {
        const kit = layui.kit
        const form = layui.form
        const upload = layui.upload
        const uploadImg = layui.uploadImg

        kit.get('./info', {}, { msg: false }).done((res) => {
            form.val('form', res.data);
        })

        form.on('submit(submit)', function (data) {
            kit.post('./save', data.field).done(() => {
                kit.closeLayer(window.name)
            })
            return false;
        });
        form.verify({
            name: (value, item) => { //value：表单的值、item：表单的DOM对象
                if (!new RegExp("^[a-zA-Z0-9_\S]+$").test(value)) {
                    return '由英文字母下划线构成'
                }
                if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                    return '用户名首尾不能出现下划线\'_\''
                }
                if (/^\d+\d+\d$/.test(value)) {
                    return '用户名不能全为数字'
                }
                if (value.length > 20) {
                    return '用户名不能超过20个字符'
                }
            },
            nick: (value, item) => {
                if (value.length > 20) {
                    return '用户名不能超过20个字符'
                }
            }
        });

        uploadImg.init({
            multiple: false,
            move: true
        })
        uploadImg.init({
            elem: '.btn-upload-img-list',
            multiple: true,
            move: true
        })
        uploadImg.showImg({
            elem: '.btn-upload-img-list'
        })
    });

</script>
{include file="base/footer" /}