{include file="base/header" /}
<body>
    <div>

        <button class="layui-btn layui-btn-normal" id="btn1">按钮</button>
        <button class="layui-btn layui-btn-normal" id="btn">按钮</button>
        <button class="layui-btn layui-btn-normal" id="btn2">按钮</button>
    </div>
</body>
<script>
    layui.use(['kit'], () => {
        const kit = layui.kit;
        document.getElementById('btn').addEventListener('click', () => {
            kit.confirm('删除用户？', './delete', {id : 1}, null, true)
        })
        document.getElementById('btn2').addEventListener('click', () => {
            kit.edit('删除用户？', '/admin/user/index', 11)
        })
    })
</script>
{include file="base/footer" /}